html,
body {
  background: #000;
}



.slider {
  width: 500px;
  height: 500px;
  border: 15px solid white;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
  
}
.slider-line img{
  transition-duration: 0.2s;
}


.prev-button {
  left: 4%;
}
.button{
  cursor: pointer;
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid #fff;
  background: transparent;
  color: #fff;
  position: absolute;
  z-index: 1;
  box-shadow: 3px 3px 3px #000;
  font-size: 1.2rem;
  margin-top: 88%;

}


.next-button {
  right: 4%;
  
}

.slider img {
  max-width: 500px;
  width: 100%;
}

.slider-line {
  position: relative;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.pagination-button {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid aqua;
}

.active {
  background-color: aqua;
}
